<h1>Editing programme</h1>

<%= form_for([:admin,@programme]) do |f| %>
  <% if @programme.errors.any? %>
    <ul>
      <% @programme.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
	<p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [:admin,@programme], :class=> "button" %>
<%= link_to 'Back', admin_programmes_path, :class=> "button" %>
